div.veditor div.toolbar input[type="number"] {
	width: 3em;
}

div.veditor div.toolbar button {
	font-size: .9em;
	cursor: pointer;
}

div.veditor div.toolbar input[type="number"].toolbar-edit-snap {
	font-size: 2.5em;
	width: 2.25em;
}

div.veditor div.toolbar button[style*="background-image"] {
	width: 3em; height: 3em;
	padding: 3.1em 0 0;
	background-size: 2.7em;
	background-position: .15em .15em;
	background-repeat: no-repeat;
	border: none;
	overflow: visible;
}

div.veditor div.toolbar button[style*="background-image"]:hover {
	background-color: #FFF;
	font-weight: bold;
}

div.veditor div.toolbar button:focus {
	outline: 0;
}

div.veditor div.toolbar-tab {
	user-select: none;
}

div.veditor div.toolbar-tab>ul li {
	display: inline-block;
	padding: .2em .4em .3em;
	margin-left: .2em;

	color: white;

	cursor: pointer;
}

div.veditor div.toolbar-tab>ul li:hover {
	background-color: #BBB;
}

div.veditor div.toolbar-tab>ul li.active {
	background-color: #EEE; color: black;
}

div.veditor div.toolbar-panels {
	height: 5em; position: relative;
	background-color: #EEE;
	overflow-x: auto;
	overflow-x: overlay;
}

div.veditor div.toolbar-panel {
	display: none;
	overflow-y: hidden;
}

div.veditor div.toolbar-panel.active {
	display: flex;
	flex-flow: row;
	min-width: max-content;
	position: absolute; left: 0; top: 0; bottom: 0;

	background-color: #EEE;
}

div.veditor div.toolbar-section {
	font-size: .8em;
	min-width: 6em;
	position: relative;
	padding: .2em .3em;
	text-align: center;
}

div.veditor div.toolbar-section.short {
	line-height: 4em;
}

div.veditor div.toolbar-section:after {
	content: ""; position: absolute;
	right: 0; width: 1px; top: .2em; bottom: .2em;
	background-color: #DDD;
}

div.veditor div.toolbar-section>h4 {
	position: absolute;
	left: 0; right: 0; bottom: .6em;
	user-select: none;
	font-size: .9em;
	line-height: 1.2em;
	text-align: center;
	color: #AAA;
}

div.veditor div.toolbar-section>table {
	margin-top: .1em;
	border-collapse: collapse;
}

div.veditor div.toolbar-section>table td {
	padding: .1em .4em;
}
