div.veditor div.toolbar-tab {
	user-select: none;
}

div.veditor div.toolbar-tab>ul li {
	display: inline-block;
	padding: .2em .4em .3em;
	margin-left: .2em;

	color: white;

	cursor: pointer;
}

div.veditor div.toolbar-tab>ul li:hover {
	background-color: #BBB;
}

div.veditor div.toolbar-tab>ul li.active {
	background-color: #EEE; color: black;
}

div.veditor div.toolbar-panels {
	height: 5em;
	overflow-y: hidden;
}

div.veditor div.toolbar-panel {
	display: none;
}

div.veditor div.toolbar-panel.active {
	display: flex;
	flex-flow: row;
	height: 100%;

	background-color: #EEE;
}

div.veditor div.toolbar-section {
	min-width: 3em;
	position: relative;
	padding: .2em .3em;
}

div.veditor div.toolbar-section:after {
	content: ""; position: absolute;
	right: 0; width: 1px; top: .2em; bottom: .2em;
	background-color: #DDD;
}

div.veditor div.toolbar-section>h4 {
	font-size: .7em; text-align: center;
	color: #AAA;
	user-select: none;
}
