div.veditor input[type="number"] {
	width: 3em;
}

div.veditor div.toolbar-tab {
	user-select: none;
}

div.veditor div.toolbar-tab>ul li {
	display: inline-block;
	padding: .2em .4em .3em;
	margin-left: .2em;

	color: white;

	cursor: pointer;
}

div.veditor div.toolbar-tab>ul li:hover {
	background-color: #BBB;
}

div.veditor div.toolbar-tab>ul li.active {
	background-color: #EEE; color: black;
}

div.veditor div.toolbar-panels {
	height: 5em;
	overflow-y: hidden;
}

div.veditor div.toolbar-panel {
	display: none;
}

div.veditor div.toolbar-panel.active {
	display: flex;
	flex-flow: row;
	height: 100%;

	background-color: #EEE;
}

div.veditor div.toolbar-section {
	font-size: .8em;
	min-width: 6em;
	position: relative;
	padding: .2em .3em;
	text-align: center;
	line-height: 4em;
}

div.veditor div.toolbar-section.multi-lines {
	line-height: inherit;
}

div.veditor div.toolbar-section:after {
	content: ""; position: absolute;
	right: 0; width: 1px; top: .2em; bottom: .2em;
	background-color: #DDD;
}

div.veditor div.toolbar-section>h4 {
	position: absolute;
	left: 0; right: 0; bottom: .6em;
	user-select: none;
	font-size: .9em;
	line-height: 1.2em;
	text-align: center;
	color: #AAA;
}

div.veditor div.toolbar-section>table {
	margin-top: .1em;
	border-collapse: collapse;
}

div.veditor div.toolbar-section>table td {
	padding: .1em .4em;
}
